<app-register-login-navbar></app-register-login-navbar>

<div class="text-center bg-image">
  <div class="mask">
    <div class="card">
        <img src="assets/frgt_pwd.jpeg" class="card-img" alt="image">
        <div class="card-img-overlay">
          <h2 class="card-title">Forgot your Password?</h2>
          
        </div>
      </div>
        
        <!-- <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Login</h5>
  
              <form [formGroup]="forgotForm" (ngSubmit)="reset()">
             
              <div>    
                <input id="Email" type="email" formControlName="Email" placeholder="E-mail Id" required />                
                <div *ngIf="forgotForm.controls['Email'].hasError('required') && (forgotForm.controls['Email'].dirty || forgotForm.controls['Email'].touched)">
                    <p class="text-danger">Please enter Email </p>                  
                </div>

                <div *ngIf="forgotForm.controls['Email'].hasError('pattern') && (forgotForm.controls['Email'].dirty || forgotForm.controls['Email'].touched)">
                    <p class="text-danger">Please enter Valid Email</p>
                </div>
              </div>

              <div>
                <button class="button" type="submit"  >
                    Reset Password
                </button>
                <p class="fogot-pwd signin" routerLink="/forgotpassword">Forgot Password?</p>
                <p>Don’t have an account?    <a class="signin" routerLink="/login" > Back to sigin</a></p>

              </div>
              
            </form>
            </div>
          </div> -->        
    </div>
</div>



<app-footer></app-footer>