<app-register-login-navbar></app-register-login-navbar>

<div class="text-center bg-image">
    <div class="mask">
        <div class="register-card">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>

                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <div>
                                <input id="Name" type="text" formControlName="Name" placeholder="Name" required/>
                                <div *ngIf="registerForm.controls['Name'].hasError('required') && (registerForm.controls['Name'].dirty || registerForm.controls['Name'].touched)">
                                    <p class="text-danger">Please enter Name </p>
                                   
                                </div>
                                <div *ngIf="registerForm.controls['Name'].hasError('pattern') && (registerForm.controls['Name'].dirty || registerForm.controls['Name'].touched)">
                                    <p class="text-danger">Please enter Valid Name</p>
                                </div>

                            </div>

                            <div>
                                <input id="Email" type="email" formControlName="Email"  placeholder="Email" required />
                                <div *ngIf="registerForm.controls['Email'].hasError('required') && (registerForm.controls['Email'].dirty || registerForm.controls['Email'].touched)">
                                    <p class="text-danger">Please enter Email </p>
                                   
                                </div>
                                <div *ngIf="registerForm.controls['Email'].hasError('pattern') && (registerForm.controls['Email'].dirty || registerForm.controls['Email'].touched)">
                                    <p class="text-danger">Please enter Valid Email</p>
                                </div>

                                
                            </div>

                            <div>
                                <input id="pwd" type="password" formControlName="password" placeholder="Password"
                                    required />
                                    <div *ngIf="registerForm.controls['password'].hasError('required') && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                                        <p class="text-danger">Please enter password </p>
                                        </div>
                                    <div *ngIf="registerForm.controls['password'].hasError('minlength') && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                                        <p class="text-danger">Minimum length is 5 </p>
                                    </div>
                            </div>

                            <div>
                                <input id="cpwd" type="password" formControlName="confirmpassword"
                                    placeholder=" Confirm Password" required />
                                    <p class="login-txt text-danger" *ngIf="passmatch">
                                       password not match
                                    </p>
                            </div>

                            <div>
                                <button class="button" type="submit">Register</button>
                                <p>
                                    Already have an account?
                                    <a class="signin" routerLink="/login">Login</a>
                                </p>
                            </div>
                            <p class="login-txt text-success" *ngIf="textShow">
                                Sucessfully Registered
                            </p>
                            <p class="login-txt text-danger" *ngIf="textShow1">
                                Oops!.... Not Registered
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>